.no-client-message {
  width: 100%;
  color: var(--neutral-light);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  & a {
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    color: white;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  }
}

.card-grid {
  width: 100%;
  display: grid;
  grid-auto-rows: minmax(0fr, 1fr);
  grid-auto-columns: minmax(1fr, 425px);
  gap: 1rem;
  position: relative;
  padding-bottom: 5rem;
}

.add-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  color: white;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}

.client-card {
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
  margin: 0 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  background-color: var(--bg);

  & div i {
    font-size: 1.3rem;
    color: var(--neutral-light);
  }

  & div p {
    display: flex;
    align-items: center;
    gap: 0.1rem;
  }

  & div:first-child {
    & p:first-child {
      font-size: 1.1rem;
    }

    & p:last-child {
      font-size: 0.7rem;
      text-align: end;
      color: var(--neutral-light);

      & i {
        font-size: 0.9rem;
      }
    }
  }

  & div:nth-of-type(2) {
    display: flex;
    column-gap: 1rem;
    justify-content: space-between;
    font-size: 0.8rem;

    & p:last-child {
      & i {
        transform: scaleX(-1);
        color: var(--success-dark);
      }
    }
  }

  & div:last-child {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.5rem;

    & a:first-child {
      background-color: var(--info);
      transition: var(--tran-03);

      &:hover {
        background-color: var(--info-dark);
      }
    }
  }
}

.name,
.birth,
.phone,
.document {
  grid-column: span 2;
}

dialog#delete-dialog {
  margin: auto;
  padding: 1rem;

  & div.dialog-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & h2#dialog-title {
      font-size: 1rem;
    }

    & p {
      color: var(--danger);
    }

    & div.dialog-choose {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1rem;

      & form#delete-form {
        width: 100%;

        & button {
          width: 100%;
        }
      }
    }
  }
}

dialog#delete-dialog::backdrop {
  background-color: hsl(0 0% 0% / 0.5);
  backdrop-filter: blur(2px);
}
