.no-client-message {
  width: 100%;
  color: var(--neutral-light);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

section.clients-list {
  position: relative;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: inherit;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: var(--shadow-m);
}

th {
  text-align: start;
  color: var(--dark-muted);
  font-weight: 700;
  font-size: .8rem;
  padding-left: 0.5rem;
  background-color: var(--bg);
  height: 2rem;
  border-top: 1px solid var(--bg-light);
}

tr:nth-of-type(2) td {
  border-bottom: 2px solid var(--bg);
}

tr:nth-of-type(n+3):not(:last-child) td {
  border-bottom: 2px solid var(--bg);
}

td {
  padding: 1rem 0 1rem 0.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: var(--tran-03);
  cursor: pointer;
  background-color: var(--bg-light);

  a {
    display: flex;
    gap: .5rem;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }
}

.initials {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 2.5rem;
  width: 100%;
  height: 2.5rem;
  border-radius: .5rem;
  font-weight: 700;
}

.add-btn {
  border: none;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  color: var(--bg-light);
  background-color: var(--dark-muted);
  box-shadow: var(--shadow-l);
}

.fixed {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

dialog#delete-dialog {
  border: 2px solid var(--dark-muted);
  box-shadow: var(--shadow-l);
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;

  div.dialog-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2#dialog-title {
      font-size: 1rem;
    }

    p {
      color: var(--danger);
    }

    div.dialog-choose {
      width: 100%;

      form#delete-form {
        display: flex;
        width: 100%;
        column-gap: 1rem;

        button {
          width: 100%;
          box-shadow: var(--shadow-s);
          color: var(--dark-muted);

          &:focus {
            background-color: var(--dark);
            color: var(--bg-light);
            box-shadow: var(--shadow-l);
            border-top: 1px solid var(--bg-light);
            outline: none;
          }
        }
      }
    }
  }
}

dialog#delete-dialog::backdrop {
  background-color: hsl(0 0% 0% / 0.5);
  backdrop-filter: blur(2px);
}

.info-section {
  background-color: var(--bg-light);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: var(--shadow-l);

  .info-header {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 0.5rem;
    border-bottom: 1px solid var(--bg-dark);

    h2 {
      font-size: 1.2rem;
    }
  }

  .info-content {
    display: flex;
    flex-direction: column;
    padding: 1rem .5rem;
    row-gap: 1rem;
    background-color: var(--bg);

    p {
      display: flex;
      justify-content: space-between;
      font-size: 1rem;
      color: var(--dark-muted);

      span {
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        column-gap: 1ch;

        i {
          font-size: 1.5rem;
        }
      }

      strong {
        font-size: 1.1rem;
        color: var(--dark);
      }
    }
  }

  .info-footer {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-top: 1px solid var(--bg-dark);

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: var(--dark);
      background-color: var(--bg-light);
      box-shadow: var(--shadow-m);
      border: none;
      border-radius: 0.5rem;
      width: 2.5rem;
      height: 2.5rem;

      &:first-child {
        color: var(--info);
      }

      &:last-child {
        color: var(--danger-dark);
      }
    }
  }
}

/* ----- EDIT CLIENT ----- */

.register-client-form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  column-gap: 0.5rem;
  background-color: var(--bg-light);
  border-radius: 0.5rem;
  row-gap: 1rem;
  box-shadow: var(--shadow-l);

  .input-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;

    label {
      position: absolute;
      font-size: 1rem;
      padding-left: 0.5rem;
      font-weight: 700;
      transform: translateY(-0.1rem);
      color: var(--dark-muted);
    }

    input {
      width: 100%;
      height: 2.5rem;
      font-size: 0.75rem;
      font-weight: 500;
      color: var(--dark);
      padding-right: 0.5rem;
      border: 1px solid var(--bg-dark);
      border-radius: 0.25rem;
      outline: none;
      transition: var(--tran-02);

      &:focus {
        box-shadow: var(--shadow-m);
      }
    }
  }

  .submit-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    small {
      font-size: 0.7rem;
      color: var(--dark-muted);
      font-weight: 500;
    }

    input[type="submit"] {
      height: 2.5rem;
      font-size: 1.2rem;
      font-weight: 700;
      background-color: var(--dark);
      color: var(--bg-light);
      border-radius: 0.25rem;
      border: none;
      border-top: 1px solid var(--bg-light);
      outline: none;
      box-shadow: var(--shadow-s);

      &:focus {
        box-shadow: var(--shadow-l);
      }
    }
  }
}
