dialog#delete-dialog {
  border: 2px solid var(--dark-muted);
  box-shadow: var(--shadow-l);
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;

  div.dialog-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2#dialog-title {
      font-size: 1rem;
    }

    p {
      color: var(--danger);
    }

    div.dialog-choose {
      width: 100%;

      form#delete-form {
        display: flex;
        width: 100%;
        column-gap: 1rem;

        button {
          width: 100%;
          box-shadow: var(--shadow-s);
          color: var(--dark-muted);

          &:focus {
            background-color: var(--dark);
            color: var(--bg-light);
            box-shadow: var(--shadow-l);
            border-top: 1px solid var(--bg-light);
            outline: none;
          }
        }
      }
    }
  }
}

dialog#delete-dialog::backdrop {
  background-color: hsl(0 0% 0% / 0.5);
  backdrop-filter: blur(2px);
}
