.form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  column-gap: 0.5rem;
  background-color: var(--bg-light);
  border-radius: 0.5rem;
  row-gap: 1rem;
  box-shadow: var(--shadow-l);
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;

  label {
    position: absolute;
    font-size: 1rem;
    padding-left: 0.5rem;
    font-weight: 700;
    transform: translateY(-0.1rem);
    color: var(--dark-muted);
  }

  input, select {
    width: 100%;
    height: 2.5rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--dark);
    padding-right: 0.5rem;
    border: 1px solid var(--bg-dark);
    border-radius: 0.25rem;
    outline: none;
    transition: var(--tran-02);

    &:focus {
      box-shadow: var(--shadow-m);
    }
  }

  select {
    appearance: none;
  }
}

.submit-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  small {
    font-size: 0.7rem;
    color: var(--dark-muted);
    font-weight: 500;
  }

  input[type="submit"] {
    height: 2.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: var(--dark);
    color: var(--bg-light);
    border-radius: 0.25rem;
    border: none;
    border-top: 1px solid var(--bg-light);
    outline: none;
    box-shadow: var(--shadow-s);

    &:focus {
      box-shadow: var(--shadow-l);
    }
  }
}

.required {
  color: var(--danger-dark);
}
