.auth-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img.auth-logo {
  width: 100%;
  max-width: 20rem;
  height: auto;
  margin-bottom: 1rem;
}

.form-auth {
  width: 100%;
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  & input[type="password"] {
    padding: 0.5rem calc(24px + 0.5rem) 0.5rem 0.5rem !important;
  }

  & input:not(input[type="checkbox"]) {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid black;
    outline-color: black;
    background-color: var(--bg);
  }

  & div > label {
    display: flex;
    align-items: center;
    column-gap: 0.5ch;
  }

  & div.password {
    position: relative;
    display: flex;
    align-items: center;

    & span.show {
      position: absolute;
      right: 0.5rem;
      cursor: pointer;
    }
  }
}

.submit-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;

  & small > a {
    color: black;
  }
}

.auth-btn {
  width: 100%;
  padding: 0.75rem 0;
  background-color: transparent;
  color: black;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: var(--tran-03);
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: black;
    color: white;
  }
}

/* ----- RESET PASSWORD ----- */

.reset-message {
  width: 100%;
  max-width: 20rem;
  padding: 0 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  & p {
    font-size: 1rem;
  }
}
