@import "login.css";
@import "sidebar.css";
@import "search.css";
@import "list-itens.css";
@import "forms.css";
@import "show-card.css";
@import "delete-modal.css";
@import "back.css";

:root {
  --bg-dark: hsl(0, 0%, 90%);
  --bg: hsl(0, 0%, 95%);
  --bg-light: hsl(0, 0%, 100%);

  --dark: hsl(0, 0%, 5%);
  --dark-muted: hsl(0, 0%, 30%);

  --text: hsl(0, 0%, 5%);

  --neutral: oklch(0 0 0);
  --neutral-light: oklch(0.2686 0 0);

  --danger-dark: oklch(0.4 0.2 30);
  --danger: oklch(0.5 0.2 30);
  --danger-light: oklch(0.7 0.2 30);
  --warning: oklch(0.968 0.211 109.77);
  --success-dark: oklch(0.5 0.2 145);
  --success: oklch(0.6 0.2 145);
  --success-light: oklch(0.7 0.2 145);
  --info: oklch(0.6 0.3 260);
  --info-dark: oklch(0.4 0.3 260);

  --shadow-s: inset 0 1px 2px #ffffff30,
  0 1px 2px #00000030,
  0 2px 4px #00000015;
  --shadow-m: inset 0 1px 2px #ffffff50,
  0 2px 4px #00000030,
  0 4px 8px #00000015;
  --shadow-l: inset 0 1px 2px #ffffff70,
  0 4px 6px #00000030,
  0 6px 10px #00000015;

  --tran-01: all 0.1s ease-in-out;
  --tran-02: all 0.2s ease-in-out;
  --tran-03: all 0.3s ease-in-out;
  --tran-04: all 0.4s ease-in-out;
  --tran-05: all 0.5s ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  accent-color: var(--danger);
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: "Ubuntu", sans-serif;
  scrollbar-gutter: stable;
  color: var(--text);
}

html:has(#delete-dialog[open]) {
  overflow: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-dark);
}

/* ----- FORMS ----- */
.error-message {
  font-size: 0.7rem;
  color: var(--danger);
}

.success-message {
  width: 100%;
  max-width: 20rem;
  margin-bottom: 1rem;
  display: block;
  background-color: var(--success);
  border-radius: 1rem;
  padding: 1rem;
  color: white;
  font-weight: 700;
}

/* ----- GENERAL ----- */
.mobile {
  display: block;
}

.desktop {
  display: none;
}

.main-container {
  padding: 1.5rem 0.5rem 0.5rem 0.5rem;
  max-width: 100vw;
  width: 100%;
  overflow-x: hidden;

  h1 {
    text-align: center;
    max-width: 75%;
    font-size: 1.5rem;
    margin: 0 auto 1.5rem auto;
  }
}

.initials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: .5rem;
  font-weight: 700;
}

.btn {
  color: white;
  border: none;
  border-radius: 0.5rem;
  height: 2rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: var(--tran-03);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.add-btn {
  border: none;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  color: var(--bg-light);
  background-color: var(--dark-muted);
  box-shadow: var(--shadow-l);
}

.neutral-btn {
  background-color: var(--neutral-light);
  transition: var(--tran-03);

  &:hover {
    background-color: var(--neutral);
  }
}

.danger-btn {
  background-color: var(--danger);
  transition: var(--tran-03);

  &:hover {
    background-color: var(--danger-dark);
  }
}

.success-btn {
  background-color: var(--success-dark);
  transition: var(--tran-03);

  &:hover {
    background-color: var(--success);
  }
}

.errors {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: var(--danger-light);
  color: black;
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.danger-color {
  color: var(--danger-dark) !important;
}

.info-color {
  color: var(--info) !important;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 1;
}

/* ----- MEDIA QUERIES ----- */

@media (min-width: 768px) {
  html {
    font-size: 1.1rem;
  }

  input {
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 1.25rem;
  }

  input {
    font-size: 1rem;
  }
}
