@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-dark: oklch(0.98 0 20);
  --bg: oklch(0.99 0 20);
  --bg-light: oklch(1 0 20);

  --neutral: oklch(0 0 0);
  --neutral-light: oklch(0.2686 0 0);

  --danger-dark: oklch(0.4 0.2 30);
  --danger: oklch(0.5 0.2 30);
  --danger-light: oklch(0.7 0.2 30);
  --warning: oklch(0.968 0.211 109.77);
  --success-dark: oklch(0.5 0.2 145);
  --success: oklch(0.6 0.2 145);
  --success-light: oklch(0.7 0.2 145);
  --info: oklch(0.6 0.3 260);
  --info-dark: oklch(0.4 0.3 260);

  --tran-01: all 0.1s ease-in-out;
  --tran-02: all 0.2s ease-in-out;
  --tran-03: all 0.3s ease-in-out;
  --tran-04: all 0.4s ease-in-out;
  --tran-05: all 0.5s ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  accent-color: var(--danger);
}

html {
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-dark);
}

/* ----- LOGIN ----- */

.auth-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img.auth-logo {
  width: 100%;
  max-width: 20rem;
  height: auto;
  margin-bottom: 1rem;
}

.form-auth {
  width: 100%;
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  & input[type="password"] {
    padding: 0.5rem calc(24px + 0.5rem) 0.5rem 0.5rem !important;
  }

  & input:not(input[type="checkbox"]) {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid black;
    outline-color: black;
    background-color: var(--bg);
  }

  & div > label {
    display: flex;
    align-items: center;
    column-gap: 0.5ch;
  }

  & div.password {
    position: relative;
    display: flex;
    align-items: center;

    & span.show {
      position: absolute;
      right: 0.5rem;
      cursor: pointer;
    }
  }
}

.submit-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;

  & small > a {
    color: black;
  }
}

.auth-btn {
  width: 100%;
  padding: 0.75rem 0;
  background-color: transparent;
  color: black;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: var(--tran-03);
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: black;
    color: white;
  }
}

/* ----- RESET PASSWORD ----- */

.reset-message {
  width: 100%;
  max-width: 20rem;
  padding: 0 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  & p {
    font-size: 1rem;
  }
}

/* ----- FORMS ----- */
.error-message {
  font-size: 0.7rem;
  color: var(--danger);
}

.success-message {
  width: 100%;
  max-width: 20rem;
  margin-bottom: 1rem;
  display: block;
  width: 100%;
  background-color: var(--success);
  border-radius: 1rem;
  padding: 1rem;
  color: white;
  font-weight: 700;
}

.register-client-form {
  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 0.5rem;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.input-container label {
  word-break: break-word;
}

.input-container input {
  height: 2rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.input-container:last-child {
  grid-column: span 2;
}

/* ----- SIDEBAR ----- */

aside {
  width: 12rem;
  min-height: 100vh;
  height: 100%;
  background-color: var(--bg-light);
  position: absolute;
  transition: var(--tran-03);
  z-index: 10;
}

.side-bar-menu-button {
  position: absolute;
  top: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: var(--tran-03);
}

.closed {
  width: 0;
}

.closed .side-bar-menu-button {
  right: -30px;
}

.open {
  width: 12rem;
}

.open .side-bar-menu-button {
  right: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  padding: 3rem 0 1rem 0;
  transition: var(--tran-02);
}

.closed > .menu {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-50px);
}

.menu-item {
  display: block;
  background-color: transparent;
  color: black;
  padding-left: 1rem;
}

.menu-item a {
  display: inherit;
  text-decoration: none;
  color: inherit;
}

.active {
  background-color: black;
  color: white;
}

.menu form {
  padding: 0 1rem;
}

.logout-btn {
  border: 1px solid var(--danger);
  color: var(--danger);
  width: 100%;
  height: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 0.5rem;
  background-color: transparent;
  cursor: pointer;
  transition: var(--tran-03);

  &:hover {
    background-color: var(--danger);
    color: var(--bg);
  }
}

/* ----- SEARCH FORMS ----- */
.main-container h1 {
  margin-left: 0.5rem;
}

.search-form {
  width: 100%;
  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: 1fr 6rem;
  column-gap: 0.5rem;
  row-gap: 1rem;
  margin-bottom: 1rem;
}

.search-client {
  border-radius: 0.5rem;
  border: 1px solid black;
}

.search-form a {
  grid-column: 2;
  grid-row: 2;
  background-color: var(--success-dark);
  border: none;
  border-radius: 0.5rem;
  height: 2rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  transition: var(--tran-03);

  &:hover {
    background-color: var(--success);
  }
}

/* ----- CLIENTS ----- */
.card-grid {
  width: 100%;
  display: grid;
  grid-auto-rows: minmax(0fr, 1fr);
  grid-auto-columns: minmax(1fr, 425px);
  gap: 1rem;
  position: relative;
  padding-bottom: 5rem;
}

.add-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: var(--success-dark);
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  color: white;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);

  &:hover {
    background-color: var(--success);
  }
}

.client-card {
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
  margin: 0 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  background-color: var(--bg);

  & div i {
    font-size: 1.3rem;
    color: var(--neutral-light);
  }

  & div p {
    display: flex;
    align-items: center;
    gap: 0.1rem;
  }

  & div:first-child {
    & p:first-child {
      font-size: 1.1rem;
    }

    & p:last-child {
      font-size: 0.7rem;
      text-align: end;
      color: var(--neutral-light);

      & i {
        font-size: 0.9rem;
      }
    }
  }

  & div:nth-of-type(2) {
    display: flex;
    column-gap: 1rem;
    justify-content: space-between;
    font-size: 0.8rem;

    & p:last-child {
      & i {
        transform: scaleX(-1);
        color: var(--success-dark);
      }
    }
  }

  & div:last-child {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.5rem;

    & a:first-child {
      background-color: var(--info);
      transition: var(--tran-03);

      &:hover {
        background-color: var(--info-dark);
      }
    }

    & a:last-child {
      background-color: var(--danger);
      transition: var(--tran-03);

      &:hover {
        background-color: var(--danger-dark);
      }
    }
  }
}

.name,
.birth,
.phone,
.document {
  grid-column: span 2;
}

/* ----- GENERAL ----- */
.mobile {
  display: block;
}

.desktop {
  display: none;
}

.main-container {
  padding-top: 2rem;
  max-width: 100vw;
  width: 100%;
}

.btn {
  background-color: var(--neutral-light);
  color: white;
  border: none;
  border-radius: 0.5rem;
  height: 2rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: var(--tran-03);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;

  &:hover {
    background-color: var(--neutral);
  }
}

.errors {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: var(--danger-light);
  color: black;
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.required {
  color: var(--danger);
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 1;
}

/* ----- MEDIA QUERIES ----- */

@media (min-width: 768px) {
  html {
    font-size: 1.1rem;
  }

  input {
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 1.25rem;
  }

  input {
    font-size: 1rem;
  }
}
