@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "login.css";
@import "sidebar.css";
@import "clients.css";

:root {
  --bg-dark: oklch(0.98 0 20);
  --bg: oklch(0.99 0 20);
  --bg-light: oklch(1 0 20);

  --neutral: oklch(0 0 0);
  --neutral-light: oklch(0.2686 0 0);

  --danger-dark: oklch(0.4 0.2 30);
  --danger: oklch(0.5 0.2 30);
  --danger-light: oklch(0.7 0.2 30);
  --warning: oklch(0.968 0.211 109.77);
  --success-dark: oklch(0.5 0.2 145);
  --success: oklch(0.6 0.2 145);
  --success-light: oklch(0.7 0.2 145);
  --info: oklch(0.6 0.3 260);
  --info-dark: oklch(0.4 0.3 260);

  --tran-01: all 0.1s ease-in-out;
  --tran-02: all 0.2s ease-in-out;
  --tran-03: all 0.3s ease-in-out;
  --tran-04: all 0.4s ease-in-out;
  --tran-05: all 0.5s ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  accent-color: var(--danger);
}

html {
  font-family: "Poppins", sans-serif;
  scrollbar-gutter: stable;
}

html:has(#delete-dialog[open]) {
  overflow: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-dark);
}

/* ----- FORMS ----- */
.error-message {
  font-size: 0.7rem;
  color: var(--danger);
}

.success-message {
  width: 100%;
  max-width: 20rem;
  margin-bottom: 1rem;
  display: block;
  width: 100%;
  background-color: var(--success);
  border-radius: 1rem;
  padding: 1rem;
  color: white;
  font-weight: 700;
}

.register-client-form {
  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 0.5rem;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.input-container label {
  word-break: break-word;
}

.input-container input {
  height: 2rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.input-container:last-child {
  grid-column: span 2;
}

/* ----- SEARCH FORMS ----- */
.main-container h1 {
  margin-left: 0.5rem;
}

.search-form {
  width: 100%;
  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: 1fr 6rem;
  column-gap: 0.5rem;
  row-gap: 1rem;
  margin-bottom: 1rem;
}

.search-client {
  border-radius: 0.5rem;
  border: 1px solid black;
}

.search-form a {
  grid-column: 2;
  grid-row: 2;
  background-color: var(--success-dark);
  border: none;
  border-radius: 0.5rem;
  height: 2rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  transition: var(--tran-03);

  &:hover {
    background-color: var(--success);
  }
}

/* ----- GENERAL ----- */
.mobile {
  display: block;
}

.desktop {
  display: none;
}

.main-container {
  padding-top: 2rem;
  max-width: 100vw;
  width: 100%;
}

.btn {
  color: white;
  border: none;
  border-radius: 0.5rem;
  height: 2rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: var(--tran-03);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.neutral-btn {
  background-color: var(--neutral-light);
  transition: var(--tran-03);

  &:hover {
    background-color: var(--neutral);
  }
}

.danger-btn {
  background-color: var(--danger);
  transition: var(--tran-03);

  &:hover {
    background-color: var(--danger-dark);
  }
}

.success-btn {
  background-color: var(--success-dark);
  transition: var(--tran-03);

  &:hover {
    background-color: var(--success);
  }
}

.errors {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: var(--danger-light);
  color: black;
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.required {
  color: var(--danger);
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 1;
}

/* ----- MEDIA QUERIES ----- */

@media (min-width: 768px) {
  html {
    font-size: 1.1rem;
  }

  input {
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 1.25rem;
  }

  input {
    font-size: 1rem;
  }
}
