aside {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--bg);
  border-radius: 0.5rem 0 0 0.5rem;
  box-shadow: var(--shadow-l);
  min-height: 100vh;
  height: 100%;
  z-index: 10;
  transition: width 0.3s ease-in-out;
}

.closed {
  width: 0;
  overflow: hidden;
  box-shadow: none;
}

.open {
  width: 12rem;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 1.5rem 0;
  transition: opacity 0.2s ease-in-out;

  ul {
    width: 100%;
  }

  .menu-item {
    width: 100%;
    list-style: none;
    display: block;

    &.active {
      background-color: var(--dark-muted);
      box-shadow: var(--shadow-m);

      a {
        color: var(--bg-light);
      }
    }

    a {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: 100%;
      height: 3rem;
      text-decoration: none;
      white-space: nowrap;
      font-weight: 500;
      color: var(--dark-muted);
      padding-left: 0.5rem;
    }
  }
}

button[type="submit"] {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--bg-light);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  color: var(--danger);
  box-shadow: var(--shadow-m);
}

.closed .menu {
  opacity: 0;
}

.open .menu {
  opacity: 1;
}

.menu-btn {
  position: fixed;
  top: 1.5rem;
  right: 0.5rem;
  background-color: var(--bg);
  border: none;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-s);
  width: 2rem;
  height: 2rem;
}

.hidden {
  display: none;
}
