.no-user-message {
  width: 100%;
  color: var(--neutral-light);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

section.users-list {
  position: relative;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: inherit;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: var(--shadow-m);
}

th {
  text-align: start;
  color: var(--dark-muted);
  font-weight: 700;
  font-size: .8rem;
  padding-left: 0.5rem;
  background-color: var(--bg);
  height: 2rem;
  border-top: 1px solid var(--bg-light);
}

tr:nth-of-type(2) td {
  border-bottom: 2px solid var(--bg);
}

tr:nth-of-type(n+3):not(:last-child) td {
  border-bottom: 2px solid var(--bg);
}

.fixed {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
